### Filtering Based System

In [52]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
Movies = pd.read_csv("movies.csv")
Ratings = pd.read_csv("ratings.csv")

In [3]:
Movies.shape

(9742, 3)

In [4]:
Movies.keys()

Index(['movieId', 'title', 'genres'], dtype='object')

In [5]:
Ratings.shape

(100836, 4)

In [6]:
Ratings.keys()

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [8]:
Ratings.head(20)

    userId  movieId  rating  timestamp
0        1        1     4.0  964982703
1        1        3     4.0  964981247
2        1        6     4.0  964982224
3        1       47     5.0  964983815
4        1       50     5.0  964982931
5        1       70     3.0  964982400
6        1      101     5.0  964980868
7        1      110     4.0  964982176
8        1      151     5.0  964984041
9        1      157     5.0  964984100
10       1      163     5.0  964983650
11       1      216     5.0  964981208
12       1      223     3.0  964980985
13       1      231     5.0  964981179
14       1      235     4.0  964980908
15       1      260     5.0  964981680
16       1      296     3.0  964982967
17       1      316     3.0  964982310
18       1      333     5.0  964981179
19       1      349     4.0  964982563

In [9]:
Movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [11]:
df = pd.merge(Movies, Ratings, on="movieId")

In [16]:
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [76]:
def Convert(title):
    return title.lower()

In [80]:
df.title = df.title.apply(Convert)

In [81]:
df

,movieId,title,genres,userId,rating,timestamp
0,1,toy story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,toy story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,toy story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,toy story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,toy story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
...,...,...,...,...,...,...
100831,193581,black butler: book of the atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082
100832,193583,no game no life: zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545
100833,193585,flint (2017),Drama,184,3.5,1537109805
100834,193587,bungo stray dogs: dead apple (2018),Action|Animation,184,3.5,1537110021
100835,193609,andrew dice clay: dice rules (1991),Comedy,331,4.0,1537157606

In [82]:
df.title.value_counts()

forrest gump (1994)                                     329
shawshank redemption, the (1994)                        317
pulp fiction (1994)                                     307
silence of the lambs, the (1991)                        279
matrix, the (1999)                                      278
                                                       ...
mamma mia: here we go again! (2018)                       1
it came from hollywood (1982)                             1
town is quiet, the (ville est tranquille, la) (2000)      1
burlesque (2010)                                          1
nature calls (2012)                                       1
Name: title, Length: 9719, dtype: int64

In [83]:
### Calculate mean Reating of All Movies
group = df.groupby('title')['rating'].mean().sort_values(ascending = False).head()
group

title
tenchi muyô! in love (1996)    5.0
five senses, the (1999)        5.0
live nude girls (1995)         5.0
little murders (1971)          5.0
trailer park boys (1999)       5.0
Name: rating, dtype: float64

In [84]:
dfNew = pd.DataFrame(df.groupby('title')['rating'].mean())
dfNew["NumOfRatings"] = df.groupby('title')["rating"].count()

In [85]:
dfNew.head()

                                           rating  NumOfRatings
title
'71 (2014)                               4.000000             1
'burbs, the (1989)                       3.176471            17
'hellboy': the seeds of creation (2004)  4.000000             1
'night mother (1986)                     3.000000             1
'round midnight (1986)                   3.500000             2

In [86]:
df.head(10)

,movieId,title,genres,userId,rating,timestamp
0,1,toy story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,toy story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,toy story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,toy story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,toy story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
5,1,toy story (1995),Adventure|Animation|Children|Comedy|Fantasy,18,3.5,1455209816
6,1,toy story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,4.0,965705637
7,1,toy story (1995),Adventure|Animation|Children|Comedy|Fantasy,21,3.5,1407618878
8,1,toy story (1995),Adventure|Animation|Children|Comedy|Fantasy,27,3.0,962685262
9,1,toy story (1995),Adventure|Animation|Children|Comedy|Fantasy,31,5.0,850466616

In [87]:
movieTitle = df.pivot_table(index="userId", columns='title', values="rating")

In [88]:
movieTitle.head(5)

title,'71 (2014),"'burbs, the (1989)",'hellboy': the seeds of creation (2004),'night mother (1986),'round midnight (1986),'salem's lot (2004),'til there was you (1997),'tis the season for love (2015),(500) days of summer (2009),*batteries not included (1987),...,zookeeper (2011),zoolander (2001),zoolander 2 (2016),zoom (2006),zoom (2015),zootopia (2016),zulu (1964),zulu (2013),¡three amigos! (1986),à nous la liberté (freedom for us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
def Rec():
    movieName = input("Enter Movie Name").lower()
    userRatings = movieTitle[movieName]
    similar_movies = movieTitle.corrwith(userRatings)
    corr_movie = pd.DataFrame(similar_movies, columns=["Correlation"])
    corr_movie.dropna(inplace=True)
    corr_movie = corr_movie.join(dfNew.NumOfRatings)
    Sugg = corr_movie[corr_movie.NumOfRatings > 100].sort_values("Correlation", ascending = False)
    Sugg[:5]

                         Correlation  NumOfRatings
title
toy story (1995)            1.000000           215
incredibles, the (2004)     0.643301           125
finding nemo (2003)         0.618701           141
aladdin (1992)              0.611892           183
monsters, inc. (2001)       0.490231           132

## Content Based

In [108]:
A = "Python Ml Python"

In [109]:
B = "Ml Python ML"

In [112]:
data = [A, B]

In [110]:
from sklearn.feature_extraction.text import CountVectorizer

In [111]:
cv = CountVectorizer()

In [113]:
count = cv.fit_transform(data)

In [115]:
count.toarray()

array([[1, 2],
       [2, 1]])

In [116]:
from sklearn.metrics.pairwise import cosine_similarity

In [117]:
score = cosine_similarity(count)

In [118]:
score

array([[1. , 0.8],
       [0.8, 1. ]])

In [119]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [120]:
df = pd.read_csv("data.csv")

In [122]:
df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [123]:
df.keys()

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [124]:
features = ["keywords", "cast","genres", "director", ]

In [127]:
for i in features:
    df[i] = df[i].fillna("")

In [128]:
def MovieCount(row):
    
    Out = ""
    for i in features:
        Out += row[i]
        Out += " "

    return Out

In [137]:
MovieCount(df[0:1])[0]

'culture clash future space war space colony society Sam Worthington Zoe Saldana Sigourney Weaver Stephen Lang Michelle Rodriguez Action Adventure Fantasy Science Fiction James Cameron '

In [138]:
df["movie_content"] = df.apply(MovieCount, axis=1)

In [139]:
df.movie_content

0       culture clash future space war space colony so...
1       ocean drug abuse exotic island east india trad...
2       spy based on novel secret agent sequel mi6 Dan...
3       dc comics crime fighter terrorist secret ident...
4       based on novel mars medallion space travel pri...
                              ...
4798    united states\u2013mexico barrier legs arms pa...
4799     Edward Burns Kerry Bish\u00e9 Marsha Dietlein...
4800    date love at first sight narration investigati...
4801     Daniel Henney Eliza Coupe Bill Paxton Alan Ru...
4802    obsession camcorder crush dream girl Drew Barr...
Name: movie_content, Length: 4803, dtype: object

In [140]:
def LowerCaseTitle(title):
    return title.lower()

In [142]:
df.title = df.title.apply(LowerCaseTitle)

In [144]:
cv = CountVectorizer()

In [145]:
metrix = cv.fit_transform(df.movie_content)

In [148]:
len(cv.get_feature_names())

14845

In [149]:
word_sim = cosine_similarity(metrix)

In [151]:
df.title.head()

0                                      avatar
1    pirates of the caribbean: at world's end
2                                     spectre
3                       the dark knight rises
4                                 john carter
Name: title, dtype: object

In [202]:
movie_name = input("Enter Your Movie")
movie_name = movie_name.lower()
m_index = df[df.title == movie_name]['index'].values[0]
similar_word_value = word_sim[m_index]
similar_movies = list(enumerate(similar_word_value))
sorted_similar_movies = sorted(similar_movies, key = lambda x:x[1], reverse=True)
movies_num = 5
print("\n Top Similar Movies:")
for i in range(movies_num):
    index = sorted_similar_movies[i][0]
    movie = list(df[index:index+1].title)[0]
    print(i+1, movie)

Enter Your Moviespectre

 Top Similar Movies:
1 spectre
2 skyfall
3 quantum of solace
4 the girl with the dragon tattoo
5 the hunger games: catching fire

### <center>------- Movie Recommendation System - Project ---------</center>